<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrx.springdnsserver.mapper.DnsMapper">

    <resultMap id="DnsRecordResultMap" type="DnsRecord">
        <id column="id" property="id"/>
        <result column="host" property="host"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值,对应类中的属性名 ofType：指的是集合中元素的类型 -->
        <collection property="ips" column="id" ofType="String" select="getIpsByHostId">
            <result column="ip"/>
        </collection>
    </resultMap>

    <insert id="addDns">
        INSERT INTO tb_dns(host_id, ip_id) VALUES
        <foreach collection="ipIds" item="ipId" separator=",">
            (#{hostId},#{ipId})
        </foreach>
    </insert>

    <insert id="addHost" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tb_dns_host(host)
        VALUES (#{host})
    </insert>

    <update id="updateDns">
        UPDATE tb_dns
        SET ip_id = #{ipId}
        WHERE host_id = #{hostId}
    </update>

    <select id="getDnsRecordByHost" resultMap="DnsRecordResultMap">
        SELECT id, host
        FROM tb_dns_host
        WHERE host = #{host,jdbcType=VARCHAR}
    </select>

    <select id="getIPsByHost" resultType="java.lang.String">
        SELECT c.ip
        FROM tb_dns_host AS a
                 INNER JOIN tb_dns AS b ON a.id = b.host_id
                 INNER JOIN tb_dns_ip AS c ON c.id = b.ip_id
        WHERE a.host = #{host}
    </select>

    <select id="getHostFromDB" resultType="com.mrx.springdnsserver.model.dns.Host">
        SELECT *
        FROM tb_dns_host
        WHERE host = #{host}
        LIMIT 1
    </select>


</mapper>