<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrx.springdnsserver.mapper.GDnsMapper">
    
    <resultMap id="GDnsRecordResultMap" type="DnsRecord">
        <id column="id" property="id"/>
        <result column="host" property="host"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值,对应类中的属性名 ofType：指的是集合中元素的类型 -->
        <collection property="ips" column="id" ofType="String" select="getGHostIpsByGHost">
            <result column="ip"/>
        </collection>
    </resultMap>

    <select id="getGDnsRecord" resultMap="GDnsRecordResultMap">
        SELECT id, host
        FROM tb_generic_host
        WHERE INSTR(#{host}, SUBSTRING(host, 3, LENGTH(host))) > 0
    </select>

    <select id="getGHostIpsByGHost" resultType="String">
        SELECT ip
        FROM tb_generic_dns
        WHERE host_id = #{hostId}
    </select>

    <select id="getIpsByHostId" resultType="String">
        SELECT ip_id
        FROM tb_dns
        WHERE host_id = #{hostId}
    </select>


</mapper>